/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap'); */

:root {
    --text-main-color: #212121;
    --text-color: #757575;
    --text-invert-color: #FFFFFF;
    --no-text-link-color: #AFB1B8;
    --background-main-color: #FFFFFF;
    --background-second-color: #F5F4FA;
    --background-invert-color: #2F303A;
    --active-main-color: #2196F3;
    --logo-one-color: #2196F3;
    --logo-two-color: #000000;
    --logo-two-invert-color: #FFFFFF;
}

body {
    font-family: 'Roboto', 'Verdana', 'Tahoma', sans-serif;
    background-color: var(--background-main-color);
    color: var(--text-main-color);
}

ul {
    list-style: none;
}

img {
    display: block;
}

h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--logo-two-color);
}

.logo span {
    color: var(--logo-one-color);
}

header {
    border-bottom: 1px solid #ECECEC;
}

.main-header {
    display: flex;
    align-items: center;
    /* height: 80px; */
}

.navigation {
    margin-left: 93px;
}

.header-nav {
    display: flex;
}

.header-inf {
    display: flex;
    margin-left: auto;
}

.header-inf .link {
    display: flex;
    align-items: center;
}

.header-inf .icon {
    margin-right: 10px;
    fill: currentColor;
}

.header-nav .item:not(:last-child),
.header-inf .item:not(:last-child) {
    margin-right: 50px;
}

.header-nav .link,
.header-inf .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-inf .link {
    color: var(--text-color);
}

.button {
    cursor: pointer;
    font-family: inherit;
    color: inherit;
    border: 0;
    border-radius: 4px;
}

.hero .button {
    color: var(--text-invert-color);
    background-color: var(--active-main-color);
        
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 30px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero .button:hover,
.hero .button:focus {
    background-color: #188CE8;
}

.hero {
    background-color: var(--background-invert-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url("../images/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.hero .text-h1 {
    color: var(--text-invert-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.text-h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.text-h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.our-features .text-h3 {
    text-transform: uppercase;
}

.our-team {
    background-color: var(--background-second-color);
}

.our-team .item{
    width: 270px;
    text-align: center;

    background-color: var(--background-main-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.our-team .text-h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.our-team .text {
    font-size: 16px;
    line-height: 1.18;
}

.our-features {
    padding-bottom: 0;
}

.our-features .item {
    width: 270px;
}

.our-features .list {
    display: flex;
}

.our-doing .list,
.our-team .list,
.our-clients .list {
    display: flex;
    margin-top: 50px;
}

.our-features .item:not(:last-child),
.our-doing .item:not(:last-child),
.our-team .item:not(:last-child),
.our-clients .item:not(:last-child) {
    margin-right: 30px;
}

.our-features .text,
.our-team .text {
    margin-top: 10px;
}

.our-features .icon {
    height: 120px;
    width: inherit;
    background-color: var(--background-second-color);
    border-radius: 4px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
}

.our-team .sub-item {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.our-team .social-list {
    margin-top: 16px;
}

.our-team .link {
    fill: var(--no-text-link-color);
}

/* Постоянные клиенты */

.our-clients .link {
    display: block;
    width: 170px;
    height: 92px;
    fill: var(--no-text-link-color);
    border: 1px solid var(--no-text-link-color);
    border-radius: 4px;
}

.our-clients .link:hover,
.our-clients .link:focus {
    fill: currentColor;
    border: 1px solid var(--active-main-color);
}

/* Портфолио */

.filters .button {
    background-color: var(--background-second-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
}

.filters .item:not(:last-child) {
    margin-right: 8px;
}

.filters .button:hover,
.filters .button:focus {
    background-color: var(--active-main-color);
    color: var(--text-invert-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list .item {
    width: 370px;
}

.our-portfolio .text-h3 {
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.our-portfolio .link:hover,
.our-portfolio .link:focus {
    color: var(--text-main-color);
}

.our-portfolio .text {
    font-size: 16px;
    line-height: 1.88;
}

.filters {
    display: flex;
    justify-content: center;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.portfolio-list .item {
    margin-right: 30px;
    margin-bottom: 30px;
}

.portfolio-list .item:nth-child(3n) {
    margin-right: 0;
}

.portfolio-list .item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.portfolio-list .sub-item {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}

.portfolio-list .text {
    margin-top: 4px;
}

.portfolio-list .item:hover,
.portfolio-list .item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Общее */
.footer {
    background-color: var(--background-invert-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .logo {
    color: var(--logo-two-invert-color);
}

.footer .link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer .text {
    color: var(--text-invert-color);
    font-style: normal;
}

.footer address {
    margin-top: 20px;
}

.footer .item:not(:last-child) {
    margin-bottom: 9px;
}

.footer .container {
    display: flex;
}

.footer-social {
    margin-left: 70px;
    margin-top: 12px;
}

.footer-social .text-h3 {
    text-transform: uppercase;
    color: var(--text-invert-color);
}

.footer-social .social-list {
    margin-top: 20px;
}

.footer-social .link {
    fill: var(--text-invert-color);
    background-color: rgba(255, 255, 255, 0.1);
}

.social-list {
    display: flex;
}

.social-item:not(:last-child) {
    margin-right: 10px;
}

.social-list .link {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.social-list .link:hover,
.social-list .link:focus {
    fill: var(--text-invert-color);
    background-color: var(--active-main-color);
}

.link {
    color: var(--text-main-color);
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: var(--active-main-color);
}

.link-current {
    color: var(--active-main-color);
}

